{{#if theme_settings.show_product_quantity_box}}
    <div class="form-field form-field--increments">
        <label class="form-label form-label--alternate is-srOnly" for="qty_{{id}}_{{incrementVar 'qtyBoxUID'}}">{{lang 'products.quantity'}}</label>
        <div class="form-increment" data-card-quantity-change>
            <button class="button button--icon" data-action="dec">
                <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
                <i class="icon" aria-hidden="true">
                    <svg>
                        <use xlink:href="#icon-minus"/>
                    </svg>
                </i>
            </button>
            <input class="form-input form-input--incrementTotal"
                id="qty_{{id}}_{{getVar 'qtyBoxUID'}}"
                name="qty_{{id}}"
                type="tel"
                value="{{#if min_purchase_quantity}}{{min_purchase_quantity}}{{else}}1{{/if}}"
                data-quantity-min="{{min_purchase_quantity}}"
                data-quantity-max="{{max_purchase_quantity}}"
                min="1"
                pattern="[0-9]*"
                aria-live="polite">
            <button class="button button--icon" data-action="inc">
                <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
                <i class="icon" aria-hidden="true">
                    <svg>
                        <use xlink:href="#icon-add"/>
                    </svg>
                </i>
            </button>
        </div>
    </div>
{{/if}}
