<div class="productView" {{#if settings.data_tag_enabled}} data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}" data-product-category="{{#each product.category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{product.brand.name}}" data-product-price="{{#or customer (unless settings.hide_price_from_guests)}}{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}{{/or}}" data-product-variant="single-product-option"{{/if}}>
    {{#each product.reviews.messages}}
        {{#if error}}
            {{>components/common/alert-error error}}
        {{/if}}
        {{#if success}}
            {{>components/common/alert-success success}}
        {{/if}}
    {{/each}}

    <div class="productView-detailsWrapper">
        {{#unless in_quickview}}
            <div class="container">
        {{/unless}}
                <div data-also-bought-parent-scope class="productView-beforeAlsoBought">
                    <section class="productView-details">
                        <div class="productView-product">
                            {{#and theme_settings.show_condition_badge product.condition}}
                                <div class="productView-conditionLabel _{{dashcase product.condition}}">{{product.condition}}</div>
                            {{/and}}
                            {{#if theme_settings.productpage_show_sale_badge}}
                                {{#or product.price.non_sale_price_with_tax product.price.non_sale_price_without_tax}}
                                    {{#if theme_settings.product_sale_badges '===' 'percent'}}
                                        <div class="productView-saleLabel _percent">
                                            {{#replace '{percent}' theme_settings.product_sale_label}}
                                                {{#if product.price.non_sale_price_without_tax}}
                                                    {{round (multiply (subtract 1 (divide product.price.without_tax.value product.price.non_sale_price_without_tax.value)) 100)}}%
                                                {{else}}
                                                    {{round (multiply (subtract 1 (divide product.price.with_tax.value product.price.non_sale_price_with_tax.value)) 100)}}%
                                                {{/if}}
                                            {{else}}
                                                {{theme_settings.product_sale_label}}
                                                <span>
                                                    {{#if product.price.non_sale_price_without_tax}}
                                                        {{round (multiply (subtract 1 (divide product.price.without_tax.value product.price.non_sale_price_without_tax.value)) 100)}}%
                                                    {{else}}
                                                        {{round (multiply (subtract 1 (divide product.price.with_tax.value product.price.non_sale_price_with_tax.value)) 100)}}%
                                                    {{/if}}
                                                </span>
                                            {{/replace}}
                                        </div>
                                    {{else}}
                                        <div class="productView-saleLabel">
                                            {{theme_settings.product_sale_label}}
                                        </div>
                                    {{/if}}
                                {{/or}}
                            {{/if}}
                            
                            {{#or product.can_purchase product.out_of_stock}}
                                <div class="productView-stockLabel{{#if product.out_of_stock}} _outstock{{/if}}{{#unless theme_settings.productpage_show_instock_badge}} _hideInStock{{/unless}}"
                                    data-instock-message="{{lang 'products.instock'}}"
                                    data-outstock-message="{{#if product.out_of_stock_message}}{{product.out_of_stock_message}}{{else}}{{lang 'products.sold_out'}}{{/if}}">
                                    {{#if product.out_of_stock}}
                                        {{#if product.out_of_stock_message}}
                                            {{product.out_of_stock_message}}
                                        {{else}}
                                            {{lang 'products.sold_out'}}
                                        {{/if}}
                                    {{else}}
                                        {{lang 'products.instock'}}
                                    {{/if}}
                                </div>
                            {{/or}}

                            {{#if product.brand}}
                                <h5 class="productView-brand"{{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
                                    <a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></a>
                                </h5>
                            {{/if}}

                            <div class="productView-titleWrapper">
                                <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
                                {{#if settings.show_wishlist}}
                                    {{> components/beautify/wishlist-dropdown}}
                                {{/if}}
                            </div>
                            
                            {{#and schema product.sku}}
                                <meta itemprop="sku" content="{{product.sku}}" />
                            {{/and}}

                            {{#and schema product.mpn}}
                                <meta itemprop="mpn" content="{{product.mpn}}" />
                            {{/and}}

                            {{#and schema product.gtin}}
                                <meta itemprop="gtin{{length product.gtin}}" content="{{product.gtin}}" />
                            {{/and}}

                            <div class="productView-rating"{{#if schema}}{{#if settings.show_product_rating}}{{#if product.num_reviews '>' 0}} itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating"{{/if}}{{/if}}{{/if}}>
                                {{#if settings.show_product_rating}}
                                    {{#if product.num_reviews '>' 0}}
                                        {{#if schema}}
                                            <meta itemprop="ratingValue" content="{{product.rating}}">
                                            <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                                            <meta itemprop="reviewCount" content="{{product.num_reviews}}">
                                        {{/if}}
                                    {{/if}}
                                    {{> components/products/ratings rating=product.rating}}
                                    <span class="productView-reviewLink">
                                        {{#if product.num_reviews '>' 0}}
                                            <a href="{{product.url}}#tab-reviews">
                                                {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                            </a>
                                        {{else}}
                                            {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                        {{/if}}
                                    </span>
                                {{/if}}
                                {{#if settings.show_product_reviews}}
                                    <span class="productView-reviewLink">
                                        <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                                            {{#unless is_ajax}}
                                                data-reveal-id="modal-review-form"
                                            {{else}}
                                                {{#unless in_quickview}}
                                                    data-reveal-id="modal-review-form"
                                                {{/unless}}
                                            {{/unless}}
                                        >
                                        {{lang 'products.reviews.new'}}
                                        </a>
                                    </span>
                                    {{> components/products/modals/writeReview}}
                                {{/if}}
                                {{#if theme_settings.show_yotpo}}
                                    {{> components/yotpo/ratings id=product.id show_write=true}}
                                {{/if}}
                            </div>
                            <div class="productView-description-customize">
                                <h2 class="_head" {{#if schema}} itemprop="description"{{/if}}>{{lang 'products.description'}}:</h2>
                                <div class="_content">
                                    {{{product.description}}}
                                    {{{snippet 'product_description'}}}
                                </div>
                            </div>
                            <div class="productView-price">
                                {{#if product.call_for_price}}
                                    <span class="price--call">{{product.call_for_price}}</span>
                                {{else}}
                                    {{#or customer (unless settings.hide_price_from_guests)}}
                                        {{> components/products/price price=product.price schema_org=schema}}
                                    {{else}}
                                        {{> components/common/login-for-pricing}}
                                    {{/or}}
                                {{/if}}
                            </div>
                            {{{region name="product_below_price--global"}}}
                            {{{region name="product_below_price"}}}
                        </div>
                    </section>

                    <section class="productView-images {{#unless theme_settings.productpage_vertical_thumbnails}}productView-images--bottom{{/unless}}" data-image-gallery 
                        {{#if theme_settings.alsobought_position '!==' 'left'}}
                            data-sidebar-sticky
                        {{/if}}
                    >
                        {{!--
                            Note that these image sizes are coupled to image sizes used in /assets/js/theme/common/product-details.js
                            for variant/rule image replacement
                        --}}
                        {{#if schema}}
                            {{#if product.main_image}}
                                <meta itemprop="image" content="{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}" />
                            {{/if}}
                        {{/if}}
                        {{#if product.images}}
                        <div class="productView-imageCarousel-main" id="productView-imageCarousel-main-{{product.id}}" data-image-gallery-main>
                            {{#if theme_settings.product_image_responsive}}
                                {{#each product.images}}
                                    <div class="productView-imageCarousel-main-item{{#startsWith this.data ../product.main_image.data}} slick-current{{/startsWith}}">
                                        <a href="{{getImageSrcset this 'zoom_size' (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}&amp;imbypass=on"
                                            data-original-zoom="{{getImageSrcset this 'zoom_size' (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}&amp;imbypass=on"
                                            data-original-img="{{getImageSrcset this 'product_size' (cdn ../theme_settings.default_image_product) 1x=../theme_settings.product_size}}"
                                            data-original-srcset="{{getImageSrcset this use_default_sizes=true }}">
                                            {{> components/common/responsive-img
                                                image=this
                                                lazyload=../../theme_settings.lazyload_mode
                                                default_image=../../theme_settings.default_image_product
                                            }}
                                        </a>
                                    </div>
                                {{/each}}
                            {{else}}
                                {{#each product.images}}
                                    <li class="productView-imageCarousel-main-item{{#startsWith this.data ../product.main_image.data}} slick-current{{/startsWith}}">
                                        <a href="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}?imbypass=on"
                                            data-original-zoom="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}?imbypass=on"
                                            data-original-img="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                                            data-original-srcset="">
                                            {{#if @index '===' 0}}
                                                <img src="{{getImage this 'product_size' (cdn ../../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                                            {{else}}
                                                <img data-lazy="{{getImage this 'product_size' (cdn ../../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                                            {{/if}}
                                        </a>
                                    </li>
                                {{/each}}
                            {{/if}}
                                </div>
                        {{else}}
                        <div class="productView-imageCarousel-main" id="productView-imageCarousel-main-{{product.id}}" data-image-gallery-main>
                            <div class="productView-imageCarousel-main-item slick-current">
                                {{> components/common/responsive-img
                                    image=product.main_image
                                    fallback_size=theme_settings.product_size
                                    lazyload=theme_settings.lazyload_mode
                                    default_image=theme_settings.default_image_product
                                }}
                            </div>
                        </div>
                        {{/if}}

                        {{#if theme_settings.product_custom_badges}}
                            {{#filter custom_fields '__badge' property='name'}}
                                <div class="sale-flag-side sale-flag-side--custom">
                                    <span class="sale-text">{{{value}}}</span>
                                </div>
                            {{/filter}}
                        {{/if}}

                        {{#if product.images.length '>' 1}}
                        <div class="productView-imageCarousel-nav" id="productView-imageCarousel-nav-{{product.id}}" data-image-gallery-nav data-image-gallery-nav-slides="{{theme_settings.productpage_thumbnails_count}}" {{#unless theme_settings.productpage_vertical_thumbnails}}data-image-gallery-nav-horizontal="true"{{/unless}}>
                            {{#each product.images}}
                                <div class="productView-imageCarousel-nav-item{{#startsWith this.data ../product.main_image.data}} slick-current{{/startsWith}}">
                                    {{> components/common/responsive-img
                                        image=this
                                        fallback_size=../theme_settings.productthumb_size
                                        lazyload=../theme_settings.lazyload_mode
                                    }}
                                </div>
                            {{/each}}
                        </div>
                        {{/if}}

                        {{>components/common/share url=product.url}}
                    </section>


                    <section class="productView-details">
                        {{#if settings.bulk_discount_enabled}}
                            {{#or customer (unless settings.hide_price_from_guests)}}
                                <div class="productView-info-bulkPricing">
                                    {{> components/products/bulk-discount-rates bulk_discount_rates=product.bulk_discount_rates}}
                                </div>
                            {{/or}}
                        {{/if}}
                        
                        {{product.detail_messages}}

                        <dl class="productView-info">
                            <dt class="productView-info-name productView-info-name--sku sku-label"{{#unless product.sku}} style="display: none;"{{/unless}}>{{lang 'products.sku'}}</dt>
                            <dd class="productView-info-value productView-info-value--sku" data-product-sku>{{product.sku}}</dd>
                            <dt class="productView-info-name productView-info-name--upc upc-label"{{#unless product.upc}} style="display: none;"{{/unless}}>{{lang 'products.upc'}}</dt>
                            <dd class="productView-info-value productView-info-value--upc" data-product-upc>{{product.upc}}</dd>
                            <dt class="productView-info-name productView-info-name--mpn mpn-label" {{#unless product.mpn}} style="display: none;"{{/unless}}>{{lang 'products.mpn'}}</dt>
                            <dd class="productView-info-value productView-info-value--mpn" data-product-mpn data-original-mpn="{{product.mpn}}">{{product.mpn}}</dd>
                            {{#unless theme_settings.show_condition_badge}}
                                {{#if product.condition}}
                                    <dt class="productView-info-name productView-info-name--condition">{{lang 'products.condition'}}</dt>
                                    <dd class="productView-info-value productView-info-value--condition">{{product.condition}}</dd>
                                {{/if}}
                            {{/unless}}
                            {{#if product.availability}}
                                <dt class="productView-info-name productView-info-name--availability">{{lang 'products.availability'}}</dt>
                                <dd class="productView-info-value productView-info-value--availability">{{product.availability}}</dd>
                            {{/if}}
                            {{#all product.weight theme_settings.show_product_weight}}
                                <dt class="productView-info-name productView-info-name--weight">{{lang 'products.weight'}}</dt>
                                <dd class="productView-info-value productView-info-value--weight" data-product-weight>{{product.weight}}</dd>
                            {{/all}}
                            {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                                <dt class="productView-info-name productView-info-name--height">{{lang 'products.width'}}</dt>
                                <dd class="productView-info-value productView-info-value--height" data-product-width>
                                    {{product.width}}
                                    {{#if settings.measurements.length '==' 'Centimeters'}}
                                    ({{lang 'products.measurement.metric'}})
                                    {{else}}
                                    ({{lang 'products.measurement.imperial'}})
                                    {{/if}}
                                </dd>
                                <dt class="productView-info-name productView-info-name--height">{{lang 'products.height'}}</dt>
                                <dd class="productView-info-value productView-info-value--height" data-product-height>
                                    {{product.height}}
                                    {{#if settings.measurements.length '==' 'Centimeters'}}
                                    ({{lang 'products.measurement.metric'}})
                                    {{else}}
                                    ({{lang 'products.measurement.imperial'}})
                                    {{/if}}
                                </dd>
                                <dt class="productView-info-name productView-info-name--depth">{{lang 'products.depth'}}</dt>
                                <dd class="productView-info-value productView-info-value--depth" data-product-depth>
                                    {{product.depth}}
                                    {{#if settings.measurements.length '==' 'Centimeters'}}
                                    ({{lang 'products.measurement.metric'}})
                                    {{else}}
                                    ({{lang 'products.measurement.imperial'}})
                                    {{/if}}
                                </dd>
                            {{/all}}
                            {{#if product.min_purchase_quantity}}
                                <dt class="productView-info-name productView-info-name--minQty">{{lang 'products.min_purchase_quantity'}}</dt>
                                <dd class="productView-info-value productView-info-value--minQty">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                            {{/if}}
                            {{#if product.max_purchase_quantity}}
                                <dt class="productView-info-name productView-info-name--maxQty">{{lang 'products.max_purchase_quantity'}}</dt>
                                <dd class="productView-info-value productView-info-value--maxQty">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                            {{/if}}
                            {{#if product.gift_wrapping_available}}
                                <dt class="productView-info-name productView-info-name--giftWrap">{{lang 'products.gift_wrapping'}}</dt>
                                <dd class="productView-info-value productView-info-value--giftWrap">{{lang 'products.gift_wrapping_available'}}</dd>
                            {{/if}}
                            {{#if product.shipping}}
                                {{#if product.shipping.calculated}}
                                    <dt class="productView-info-name productView-info-name--shippingCalc">{{lang 'products.shipping'}}</dt>
                                    <dd class="productView-info-value productView-info-value--shippingCalc">{{lang 'products.shipping_calculated'}}</dd>
                                {{else}}
                                    {{#if product.shipping.price.value '===' 0}}
                                        <dt class="productView-info-name productView-info-name--shippingFree">{{lang 'products.shipping'}}</dt>
                                        <dd class="productView-info-value productView-info-value--shippingFree">{{lang 'products.shipping_free'}}</dd>
                                    {{else}}
                                        <dt class="productView-info-name productView-info-name--shippingFixed">{{lang 'products.shipping'}}</dt>
                                        <dd class="productView-info-value productView-info-value--shippingFixed">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                            <dt class="productView-info-name productView-info-name--stock {{#unless product.stock_level}} u-hiddenVisually{{/unless}}">{{lang 'products.current_stock'}}</dt>
                            <dd class="productView-info-value productView-info-value--stock {{#unless product.stock_level}} u-hiddenVisually{{/unless}}" data-product-stock>{{product.stock_level}}</dd>

                            {{#unless theme_settings.productpage_custom_fields_tab}}
                                {{#if theme_settings.productpage_custom_fields_hide_special}}
                                    {{#each product.custom_fields}}
                                        {{#startsWith '__' name}}
                                        {{else}}
                                            <dt class="productView-info-name productView-info-name--cf{{pascalcase name}}">{{name}}:</dt>
                                            <dd class="productView-info-value productView-info-value--cf{{pascalcase name}}">{{{value}}}</dd>
                                        {{/startsWith}}
                                    {{/each}}
                                {{else}}
                                    {{#each product.custom_fields}}
                                        <dt class="productView-info-name productView-info-name--cf{{pascalcase name}}">{{name}}:</dt>
                                        <dd class="productView-info-value productView-info-value--cf{{pascalcase name}}">{{{value}}}</dd>
                                    {{/each}}
                                {{/if}}
                            {{/unless}}
                        </dl>

                        {{{region name="product_above_options--global"}}}
                        {{{region name="product_above_options"}}}
                        
                        <div class="productView-options">
                            {{#if product.release_date }}
                                <p>{{product.release_date}}</p>
                            {{/if}}

                            <form class="form form--addToCart" method="post" action="{{product.cart_url}}" enctype="multipart/form-data" data-cart-item-add>
                                <input type="hidden" name="action" value="add">
                                <input type="hidden" name="product_id" value="{{product.id}}"/>

                                <div class="papathemes-productView-optionsGrid">
                                    {{#each product.customizations}}	
                                        {{{dynamicComponent 'components/products/customizations'}}}	
                                    {{/each}}
                                    <div data-product-option-change>
                                        {{#each product.options}}
                                            {{{dynamicComponent 'components/products/options'}}}
                                        {{/each}}
                                    </div>
                                </div>

                                <div class="productView-qtyAddWrapper _addToCartVisibility{{#if theme_settings.productpage_sticky_addtocart}} _sticky{{/if}}" {{#unless product.can_purchase}}style="display:none"{{/unless}}>
                                    {{#if theme_settings.show_product_quantity_box}}
                                        <div class="form-field form-field--increments">
                                            <label class="form-label form-label--alternate is-srOnly" for="qty[]">{{lang 'products.quantity'}}</label>
                                            <div class="form-increment" data-quantity-change>
                                                <button class="button button--icon" data-action="dec">
                                                    <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
                                                    <i class="icon" aria-hidden="true">
                                                        <svg>
                                                            <use xlink:href="#icon-minus"/>
                                                        </svg>
                                                    </i>
                                                </button>
                                                <input class="form-input form-input--incrementTotal"
                                                    id="qty[]"
                                                    name="qty[]"
                                                    type="tel"
                                                    value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
                                                    data-quantity-min="{{product.min_purchase_quantity}}"
                                                    data-quantity-max="{{product.max_purchase_quantity}}"
                                                    min="1"
                                                    pattern="[0-9]*"
                                                    aria-live="polite">
                                                <button class="button button--icon" data-action="inc">
                                                    <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
                                                    <i class="icon" aria-hidden="true">
                                                        <svg>
                                                            <use xlink:href="#icon-add"/>
                                                        </svg>
                                                    </i>
                                                </button>
                                            </div>
                                        </div>
                                    {{/if}}
                                    {{#or customer (unless settings.hide_price_from_guests)}}
                                        <div class="form-action form-action--addToCart">
                                            {{#or product.price.with_tax product.price.without_tax}}
                                                <div class="price-section">
                                                    {{#if product.price.with_tax}}
                                                        <span data-product-price-with-tax class="price price--withTax price--main">{{product.price.with_tax.formatted}}</span>
                                                    {{else if product.price.without_tax}}
                                                        <span data-product-price-without-tax class="price price--withoutTax price--main">{{product.price.without_tax.formatted}}</span>
                                                    {{/if}}
                                                </div>
                                            {{/or}}
                                            <button id="form-action-addToCart" data-wait-message="{{lang 'products.adding_to_cart'}}" class="button button--primary" type="submit">
                                                {{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}
                                            </button>
                                        </div>
                                        {{{snippet 'product_addtocart'}}}
                                    {{/or}}
                                </div>
                                <div class="alertBox productAttributes-message" style="display:none">
                                    <div class="alertBox-column alertBox-icon">
                                        <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
                                    </div>
                                    <p class="alertBox-column alertBox-message"></p>
                                </div>
                            </form>

                            {{{region name="product_below_addtocart--global"}}}
                            {{{region name="product_below_addtocart"}}}
                            {{!--
                            {{#if in_development}}
                                <ul class="list-icon beautify__productView-calloutList" data-marquee>
                                    <li><span class="li-icon">📦</span> Free shipping over 59 Euro - Code: IRISH</li>
                                    <li><span class="li-icon">🇮🇪</span> IRISH OWNED COMPANY</li>
                                    <li><span class="li-icon">🚚</span> Next Day Delivery</li>
                                    <li><span class="li-icon">😁</span> Hassle free returns</li>
                                    <li><span class="li-icon">🔒</span> SAFE & SECURE ONLINE SHOPPING</li>
                                </ul>
                            {{/if}}
                            --}}
                        </div>

                        {{{snippet 'product_details'}}}
                    </section>
                </div>

                {{#if theme_settings.alsobought_position '===' 'left'}}
                    {{> components/papathemes/also-bought/also-bought}}
                {{else if theme_settings.alsobought_position '===' 'right'}}
                    {{> components/papathemes/also-bought/also-bought}}
                {{/if}}
        {{#unless in_quickview}}
            </div><!-- .container -->
        {{/unless}}
    </div>

    
    {{#if theme_settings.alsobought_position '===' 'wide'}}
        {{#unless in_quickview}}<div class="container">{{/unless}}
        {{> components/papathemes/also-bought/also-bought}}
        {{#unless in_quickview}}</div><!-- .container -->{{/unless}}
    {{/if}}

    <div data-also-bought-parent-scope class="productView-descriptionWrapper">
        <article class="productView-description">
            {{!--
            <div class="tab-content is-active" id="tab-description">
                {{#unless in_quickview}}<div class="container">{{/unless}}
                <h2 class="beautify__page-heading _hasToggle">{{lang 'products.description'}}</h2>
                <button class="button button--toggle is-open" data-toggle="ih__desc-{{product.id}}">
                    <span class="on">{{lang 'common.hide'}} <svg class="icon"><use xlink:href="#icon-minus"></use></svg></span>
                    <span class="off">{{lang 'common.show'}} <svg class="icon"><use xlink:href="#icon-add"></use></svg></span>
                </button>
                <div class="productView-description-tabContent _fixedWidth is-open" id="ih__desc-{{product.id}}" {{#if schema}} itemprop="description"{{/if}} {{#if settings.data_tag_enabled}} data-event-type="product" {{/if}}>
                    {{{product.description}}}
                    {{{snippet 'product_description'}}}
                </div>
                {{#unless in_quickview}}</div><!-- .container -->{{/unless}}
            </div>
            --}}
            {{#if product.videos.list.length}}
                <div class="tab-content" id="tab-videos">
                    {{#unless in_quickview}}<div class="container">{{/unless}}
                    <h2 class="beautify__page-heading _hasToggle">{{lang 'products.videos.header'}}</h2>
                    <button class="button button--toggle is-open" data-toggle="ih__videos-{{product.id}}">
                        <span class="on">{{lang 'common.hide'}} <svg class="icon"><use xlink:href="#icon-minus"></use></svg></span>
                        <span class="off">{{lang 'common.show'}} <svg class="icon"><use xlink:href="#icon-add"></use></svg></span>
                    </button>
                    <div class="productView-description-tabContent is-open" id="ih__videos-{{product.id}}">
                        <section class="videoGallery videoGallery--inTab" data-video-gallery>
                            <div class="videoGallery-main">
                                <iframe
                                    id="player"
                                    class="lazyload"
                                    type="text/html"
                                    width="640"
                                    height="390"
                                    frameborder="0"
                                    webkitAllowFullScreen
                                    mozallowfullscreen
                                    allowFullScreen
                                    data-src="//www.youtube.com/embed/{{product.videos.featured.id}}?rel=0"
                                    data-video-player
                                    title="{{product.videos.list.0.title_long}}"
                                    >
                                </iframe>
                            </div>
                            <ul class="videoGallery-list">
                            {{#each product.videos.list}}
                                <li class="videoGallery-item">
                                    <a href="#" class="video {{#if @first}}is-active{{/if}}" data-video-item data-video-id="{{id}}">
                                        <div class="video-figure">
                                            <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="//i.ytimg.com/vi/{{id}}/default.jpg" alt="{{title_long}}"/>
                                        </div>
                                        <div class="video-body">
                                            <h3 class="video-title">{{title_long}}</h3>
                                            <p class="video-description">{{description_short}}</p>
                                        </div>
                                    </a>
                                </li>
                            {{/each}}
                            </ul>
                        </section>
                    </div>
                    {{#unless in_quickview}}</div><!-- .container -->{{/unless}}
                </div>
            {{/if}}
            {{#all product.custom_fields.length theme_settings.productpage_custom_fields_tab}}
                {{#if (merge this specialCustomFields=0)}}{{/if}}
                {{#if theme_settings.productpage_custom_fields_hide_special}}
                    {{#each product.custom_fields}}
                        {{#startsWith '__' name}}
                            {{#if (merge ../../this specialCustomFields=(add ../../specialCustomFields 1))}}{{/if}}
                        {{/startsWith}}
                    {{/each}}
                {{/if}}
                {{#any (unless theme_settings.productpage_custom_fields_hide_special) (if product.custom_fields.length '>' specialCustomFields )}}
                    <div class="tab-content" id="tab-addition">
                        {{#unless in_quickview}}<div class="container">{{/unless}}
                        <h2 class="beautify__page-heading _hasToggle">{{theme_settings.productpage_custom_fields_tab_title}}</h2>
                        <button class="button button--toggle is-open" data-toggle="ih__addition-{{product.id}}">
                            <span class="on">{{lang 'common.hide'}} <svg class="icon"><use xlink:href="#icon-minus"></use></svg></span>
                            <span class="off">{{lang 'common.show'}} <svg class="icon"><use xlink:href="#icon-add"></use></svg></span>
                        </button>
                        <div class="productView-addition-tabContent is-open" id="ih__addition-{{product.id}}">
                            <table class="productView-addition-table table">
                                <tbody class="table-tbody">
                                    {{#if theme_settings.productpage_custom_fields_hide_special}}
                                        {{#each product.custom_fields}}
                                            {{#startsWith '__' name}}
                                            {{else}}
                                                <tr class="productView-info-row--cf{{pascalcase name}}">
                                                    <td><div class="productView-info-name productView-info-name--cf{{pascalcase name}}">{{name}}:</div></td>
                                                    <td><div class="productView-info-value productView-info-value--cf{{pascalcase name}}">{{{value}}}</div></td>
                                                </tr>
                                            {{/startsWith}}
                                        {{/each}}
                                    {{else}}
                                        {{#each product.custom_fields}}
                                            <tr class="productView-info-row--cf{{pascalcase name}}">
                                                <td><div class="productView-info-name productView-info-name--cf{{pascalcase name}}">{{name}}:</div></td>
                                                <td><div class="productView-info-value productView-info-value--cf{{pascalcase name}}">{{{value}}}</div></td>
                                            </tr>
                                        {{/each}}
                                    {{/if}}
                                </tbody>
                            </table>
                        </div>
                        {{#unless in_quickview}}</div><!-- .container -->{{/unless}}
                    </div>
                {{/any}}
            {{/all}}
            {{#if product.warranty}}
                <div class="tab-content" id="tab-warranty">
                    {{#unless in_quickview}}<div class="container">{{/unless}}
                    <h2 class="beautify__page-heading _hasToggle">{{lang 'products.warranty'}}</h2>
                    <button class="button button--toggle is-open" data-toggle="ih__warranty-{{product.id}}">
                        <span class="on">{{lang 'common.hide'}} <svg class="icon"><use xlink:href="#icon-minus"></use></svg></span>
                        <span class="off">{{lang 'common.show'}} <svg class="icon"><use xlink:href="#icon-add"></use></svg></span>
                    </button>
                    <div class="productView-description-tabContent is-open" id="ih__warranty-{{product.id}}">
                        {{{product.warranty}}}
                    </div>
                    {{#unless in_quickview}}</div><!-- .container -->{{/unless}}
                </div>
            {{/if}}

            {{#if settings.show_product_reviews}}
                <div class="tab-content" id="tab-reviews">
                    {{#unless in_quickview}}<div class="container">{{/unless}}
                    <h2 class="beautify__page-heading _hasToggle">{{lang 'products.reviews.title' total=product.num_reviews}}</h2>
                    <button class="button button--toggle is-open" data-toggle="ih__reviews-{{product.id}}">
                        <span class="on">{{lang 'common.hide'}} <svg class="icon"><use xlink:href="#icon-minus"></use></svg></span>
                        <span class="off">{{lang 'common.show'}} <svg class="icon"><use xlink:href="#icon-add"></use></svg></span>
                    </button>
                    <div class="productView-description-tabContent is-open" id="ih__reviews-{{product.id}}">
                        {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
                    </div>
                    {{#unless in_quickview}}</div><!-- .container -->{{/unless}}
                </div>
            {{/if}}

            {{#or in_development theme_settings.productpage_delivery_tab}}
                <div class="tab-content" id="tab-return">
                    {{#unless in_quickview}}<div class="container">{{/unless}}
                    <h2 class="beautify__page-heading _hasToggle">{{theme_settings.productpage_delivery_tab_title}}</h2>
                    <button class="button button--toggle is-open" data-toggle="ih__return-{{product.id}}">
                        <span class="on">{{lang 'common.hide'}} <svg class="icon"><use xlink:href="#icon-minus"></use></svg></span>
                        <span class="off">{{lang 'common.show'}} <svg class="icon"><use xlink:href="#icon-add"></use></svg></span>
                    </button>
                    <div class="productView-description-tabContent _fixedWidth is-open" id="ih__return-{{product.id}}">
                        {{{region name="product_delivery_tab_content--global"}}}
                        {{{region name="product_delivery_tab_content"}}}
                        {{!--
                        {{#if in_development}}
                            <p class="beautify__anpost">
                                <img class="lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='82' height='55'%3E%3C/svg%3E" data-src="{{cdn 'img/beautify/anpost.png'}}" data-sizes="auto" width="82" height="55" alt="An Post">
                                <span class="_text">All Orders delivered for just €4.99 To anywhere in Ireland and Northern Ireland</span>
                            </p>
                            <ul>
                                <li>NEXT DAY DELIVERY IRELAND</li>
                                <li>SMS and Email Alerts</li>
                                <li>Order before 2pm for same day dispatch</li>
                                <li>98% of all orders are delivered next day</li>
                            </ul>
                            <p>Your order will leave our warehouse in Bray, Co Wicklow and be delivered the <strong>next working day</strong>. You will receive SMS &amp; email tracking updates from An Post and someone will need to sign for the parcel on delivery.</p>
                            <ul>
                                <li>For full Delivery Terms visit our <a  href="/delivery-returns/">Delivery Page</a></li>
                                <li>For hassle free returns visit our&nbsp;<a  title="returns" href="/delivery-returns/">Returns Section</a></li>
                            </ul>
                            <p class="_payment-icons">
                                <span>{{> components/common/responsive-img image=(cdn 'img/beautify/secure.png') alt="secure"}}</span>
                                <span>{{> components/common/responsive-img image=(cdn 'img/beautify/pci.png') alt="pci"}}</span>
                                <span>{{> components/common/responsive-img image=(cdn 'img/beautify/trustmark.png') alt="trustmark"}}</span>
                                <span>{{> components/common/responsive-img image=(cdn 'img/beautify/eccomerce-europe.png') alt="eccomerce-europe"}}</span>
                                <span>{{> components/common/responsive-img image=(cdn 'img/beautify/ecommerce-2.png') alt="ecommerce-2"}}</span>
                                <span>{{> components/common/responsive-img image=(cdn 'img/beautify/mastercard.png') alt="mastercard"}}</span>
                                <span>{{> components/common/responsive-img image=(cdn 'img/beautify/visa.png') alt="visa"}}</span>
                                <span>{{> components/common/responsive-img image=(cdn 'img/beautify/paypal.png') alt="paypal"}}</span>
                                <span>{{> components/common/responsive-img image=(cdn 'img/beautify/oneforall.png') alt="oneforall"}}</span>
                            </p>
                        {{/if}}
                        --}}
                    </div>
                    {{#unless in_quickview}}</div><!-- .container -->{{/unless}}
                </div>
            {{/or}}
        </article>
    </div>
</div>
